/*
Color Pallet: #212121 #30475E #6D9886 #D9CAB3 #F2A365 #F6F6F6 #ECECEC
*/

body {
  background-color: #30475E;
  color: #F6F6F6;
  margin: 0;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  font-size: 5rem;
  margin: 50px auto 0 auto;
  font-family: 'Finger Paint', cursive;
}

h2 {
  font-size: 2.5rem;
  padding: 2px;
  font-family: 'Finger Paint', cursive;
}

hr {
  border-style: dotted;
  border-color: #D9CAB3;
  border-width: 15px;
	border-bottom: none;
	width: 25%;
  margin: 100px auto;
}

a {
  font-weight: bold;
  color:  #212121;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #F2A365;
}

iframe {
  width: 95%;
  height: 920px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup {
  position: relative;
}

.popup .close {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}

.comp-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.pc-tower-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.gaming-pc-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.cooking-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 65%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.subtitle {
  font-size: 2rem;
}

.avatar {
  margin-top: 25px;
}

.avatar img {
  width: 45%;
  max-width: 45% !important;
  height: auto;
}

.intro {
  width: 65%;
  margin: auto;
  line-height: 2;
  text-align: left;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px auto;
}

.contact-me {
  margin: 100px auto;
}

.top-container {
  position: relative;
  padding-top: 50px;
}

.middle-container {
  size: 100%;
}

.bottom-container {
  background-color: #6D9886;
  padding: 50px 0 20px;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #212121;
  font-size: 20px;
  background: #6D9886;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #F2A365;
  text-decoration: none;
  color: #212121;
}

.copyright {
  color: #212121;
  font-size: 0.75em;
  padding: 20px 0;
}

meta[property="og:image"] {
	content: url(https://pc-ronin.github.io/Portfolio/images/pexels-luis-gomes-546819.jpg);
}
